
    * {
       margin: 0;
       padding: 0;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        width: 100%;
        height: 88vh; /* Altura del header */
        box-shadow: 0 2px 35px rgb(0, 0, 0); 
        background-image: url('../img/logomove.gif'); /* Ruta del GIF */
        background-size: cover; /* Ajusta el GIF al tamaño del header */
        background-repeat: no-repeat; /* Evita que el GIF se repita */
        background-position: center; /* Centra el GIF dentro del header */

        nav {
            position: relative;
            padding-left: 75rem;
            padding-bottom: 32rem;
            margin: 1rem;

                #wsp {
                    margin: 0 1rem;
                }

                #nosotros {
                    background-color: black;
                    font-family: Ink Free;
                    color: rgb(255, 255, 255);
                    font-size: 1.5rem;                
                }
                #nosotros:hover {
                    color: rgb(12, 236, 56);
                }
        }

        #compra {
                position: fixed;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
            }
                
    }

    section {
        display: flex; /* Activa Flexbox */
        justify-content: space-between; /* Separa los elementos hacia los bordes */
        align-items: center; /* Alinea verticalmente los elementos */
        padding: 0;
        width: 100%; /* Asegura que ocupe todo el ancho */
        box-sizing: border-box; /* Incluye padding en el ancho total */
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        margin-top: -1rem;
        
        div {
            margin: 0;
            padding: 3rem;
            margin: auto;
        }
        
        h3 {
            font-family: Ink Free;
            font-size: 3em; /* Adjust as needed */
            font-weight: 300;
            position: center;
            color: blueviolet;
        }
        
        li {
            color:rgb(0, 0, 0);

            :hover {
                color: rgb(12, 236, 56);
            }
        }
        
        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-family: Ink Free;
            position: center;
            font-size: 2em; /* Adjust as needed */

            :hover {
                color: rgb(12, 236, 56);
            }
        }
    }

    .image-container {
        flex-basis: 75%;
        padding: 1em;
        margin-top: 7.5em;
     
        .slider-container {
           display: flex;
           width: 40em;
           height: 30em;
           overflow-x: scroll;
           
         
           scroll-snap-type: x mandatory;
     
           img {
              flex: 0 0 100%;
              width: 100%;
              object-fit: cover;
              scroll-snap-align: center;
              border-radius: 10%;
           }
        }
     }
     .redes {
        padding: 1rem;
        margin-right: 3rem;
        opacity: 70%;
        border-radius: 10%; 
        box-shadow: 10px 10px 45px 1px rgb(0,0,0,0.75);
     }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        width: 100%;
        box-sizing: border-box; /* Incluye padding en el ancho total */
        

        .inner-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            div {
                margin-right: 0.5em;
            }
        }
    }

    @media screen and (max-width: 768px) {

        section{
            display: flex;
            flex-direction: column; /* Cambia a columna en pantallas pequeñas */

            .image-container{
                flex-basis: 100%; /* Cambia a 100% en pantallas pequeñas */
                padding: 0; /* Elimina el padding en pantallas pequeñas */
                margin-top: 0; /* Elimina el margen superior en pantallas pequeñas */

                .slider-container {
                    width: 80%;
                    overflow-x: scroll;

                    img {
                        width: 100%;
                        height: auto; /* Mantiene la proporción de la imagen */
                    }
                }
            }

            .redes {
                display: flex;
                justify-content: space-evenly;
                padding: 1em;
                margin: 1em;
            }
        }
        
        footer{
            display: flex;
            flex-direction: column; /* Cambia a columna en pantallas pequeñas */
            padding: 2em 0; /* Espacio alrededor del footer */
            margin-bottom: 1em; /* Espacio en la parte inferior del footer */
            
        }
    
        header {

            nav {
                padding-left: 1rem; /* Espacio a la izquierda del menú de navegación */
                padding-top: 1rem; /* Espacio en la parte inferior del menú de navegación */
                text-align: center;
            }
        }
    }



