
    * {
       margin: 0;
       padding: 0;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        width: 100%;
        height: 88vh; /* Altura del header */
        box-shadow: 0 2px 35px rgb(0, 0, 0); 
        background-image: url('../img/logomove.gif'); /* Ruta del GIF */
        background-size: cover; /* Ajusta el GIF al tamaño del header */
        background-repeat: no-repeat; /* Evita que el GIF se repita */
        background-position: center; /* Centra el GIF dentro del header */

        nav {
            position: relative;
            padding-left: 75rem;
            padding-bottom: 32rem;
            margin: 1rem;

                #wsp {
                    margin: 0 1rem;
                }

                #inicio {
                    background-color: black;
                    font-family: Ink Free;
                    color: rgb(255, 255, 255); 
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }

                #nosotros {
                    background-color: black;
                    font-family: Ink Free;
                    color: rgb(255, 255, 255); 
                    font-size: 1.5rem;              
                }
                #nosotros:hover {
                    color: rgb(12, 236, 56);
                }
        }
    }

    section {
        display: flex;
        justify-content: space-evenly; /* Centra horizontalmente */
        align-items: center; /* Alinea verticalmente */
        width: 100%;
        height: 65em; /* Altura del contenedor */
        font-family: ink free;
        margin-top: -8rem; /* Espacio superior */
        

        h1 {
            font-size: 3rem; /* Tamaño de fuente grande */
            color: #880788; /* Color del texto */
            text-align: center; /* Centrar texto */
            margin-top: 5rem; /* Espacio inferior */
        }

        .actbtn {
            background-color: rgb(26, 25, 25);
            color: rgb(255, 255, 255);
            padding: .5rem;
            font-family: ink free;
            font-size: 1.5rem; /* Tamaño de fuente del botón */
        }

        .btn-mas, .btn-menos {
            background-color: rgb(26, 25, 25);
            color: rgb(255, 255, 255);
            padding: .5rem;
            font-family: ink free;
            font-size: 1rem; /* Tamaño de fuente del botón */
        }

        h2 {
            font-size: 2rem; /* Tamaño de fuente grande */
            color: #880788; /* Color del texto */
            text-align: center; /* Centrar texto */
            margin-top: .5rem; /* Espacio inferior */
        }
        
        .form-compras{
            flex-direction: column;
            display: flex;
            width: 100%;
            height: auto; /* Altura del contenedor */
            font-family: ink free;
            margin-top: 2em;
            gap: 2rem; /* Espacio entre los elementos */
            background-image: url('../img/Background\ Texture\ GIF\ by\ Gifes\ Con\ Ensalada.gif'); /* Fondo de la sección */
            text-align: center;

            .form-group {
                display: flex;
                flex-direction: column; /* Alinea los elementos en columna */
                gap: 0.5rem; /* Espaciado entre los elementos */
            }

            label {
                font-size: 1.5rem; /* Tamaño de fuente para las etiquetas */
                color: rgb(6, 0, 8); /* Color de texto */
                font-weight: bold;
            }

            button{
                margin-top: 2rem;
                background-color: rgb(26, 25, 25);
                color: rgb(255, 255, 255);
                padding: .5rem;
                font-family: ink free;
                font-size: 1.5rem; /* Tamaño de fuente del botón */

            }
    
        }   
        
        .form-clear {
            text-align: center; /* Centrar el contenido horizontalmente */
            margin-top: 1rem; /* Espacio superior */
        }
        
        .form-clear .actbtn {
            padding: 0.5rem 1rem; /* Tamaño del botón */
            font-size: 1.5rem; /* Tamaño de la fuente */
            background-color: rgb(26, 25, 25);
            color: rgb(255, 255, 255);
            border: none; /* Sin bordes */
            border-radius: 5px; /* Bordes redondeados */
            cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
        }
    }

    #carrito {
        margin-right: 2rem;
        width: 80%; /* Ancho de la tabla */
        margin: 2rem auto; /* Centrar la tabla horizontalmente */
        border-collapse: collapse; /* Colapsar bordes */
        background-color: #f9f9f9; /* Fondo claro */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Sombra */
    }
    
    #carrito th, #carrito td {
        border: 1px solid #ddd; /* Bordes de las celdas */
        padding: 1rem; /* Espaciado interno */
        text-align: center; /* Centrar texto */
    }
    
    #carrito th {
        background-color: #692d99; /* Fondo de encabezado */
        color: white; /* Texto blanco */
        font-weight: bold; /* Negrita */
        
    }
    
    #carrito tr:nth-child(even) {
        background-color: #f2f2f2; /* Fondo alternado */
    }
    
    #carrito tr:hover {
        background-color: #ddd; /* Fondo al pasar el mouse */
    }
    
    #carrito td {
        font-size: 1rem; /* Tamaño de fuente */
        color: #333; /* Color del texto */
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        width: 100%;
        box-sizing: border-box; /* Incluye padding en el ancho total */
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        height: 5vh;

        .inner-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            div {
                margin-right: 0.5em;
            }
        }
    }

