
    * {
       margin: 0;
       padding: 0;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        width: 100%;
        height: 88vh; /* Altura del header */
        box-shadow: 0 2px 35px rgb(0, 0, 0); 
        background-image: url('../img/logomove.gif'); /* Ruta del GIF */
        background-size: cover; /* Ajusta el GIF al tamaño del header */
        background-repeat: no-repeat; /* Evita que el GIF se repita */
        background-position: center; /* Centra el GIF dentro del header */

        nav {
            position: relative;
            padding-left: 75rem;
            padding-bottom: 32rem;
            margin: 1rem;

                #wsp {
                    margin: 0 1rem;
                }

                #inicio {
                    background-color: black;
                    font-family: Ink Free;
                    color: rgb(255, 255, 255); 
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }

                #nosotros {
                    background-color: black;
                    font-family: Ink Free;
                    color: rgb(255, 255, 255); 
                    font-size: 1.5rem;              
                }
                #nosotros:hover {
                    color: rgb(12, 236, 56);
                }
        }

        #compra {
                position: fixed;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
            }   
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr; /* Primera columna más pequeña, segunda más grande */
        gap: 2rem; /* Espaciado entre columnas */
        padding: 1rem;
        
        .marcas {
            background-color: #f9f9f9;
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);

            h3 {
                font-family: ink Free;
                font-size: 3rem;
                margin-bottom: 1rem;
                color: blueviolet;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 0.5rem;
                    margin-left: 1rem;

                    a {
                        text-decoration: none;
                        color: #333;
                        font-family: ink Free;
                        font-size: 2rem;

                        :hover {
                            color: #07e4b4;
                        }
                    }
                }
            }

            a {

                img{
                    margin: 7rem 1rem;
                    box-shadow:0 2px 5px rgba(0, 0, 0, 0.8); ;

                }
            }
        }

        .reebok {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columnas */
            gap: 1rem; /* Espaciado entre items */

            h2 {
                font-family: ink Free;
                font-size: 3rem;
                margin-bottom: 1rem;
                color: rgb(37, 117, 209);
                
            }

            .n {
                text-align: center;
                background-color: #fff;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    margin-bottom: 0.5rem;
                }

                h3 {
                    font-size: 1rem;
                    margin: 0.5rem 0;
                    font-family: ink Free;
                }
            }
        }    
    }

    .reebok-fem {
        display: grid;
        grid-template-columns: 1fr 2fr; /* Primera columna más pequeña, segunda más grande */
        gap: 2rem; /* Espaciado entre columnas */
        padding: 1rem;


        .mujer{
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columnas */
            gap: 1rem; /* Espaciado entre items */

            h2 {
                font-family: ink Free;
                font-size: 3rem;
                margin-bottom: 1rem;
                color: rosybrown;
                
            }

            .m {
                text-align: center;
                background-color: #fff;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    margin-bottom: 0.5rem;
                }

                h3 {
                    font-size: 1rem;
                    margin: 0.5rem 0;
                    font-family: ink Free;
                }
            }
        }     
    }

    .reebok-men {
        display: grid;
        grid-template-columns: 1fr 2fr; /* Primera columna más pequeña, segunda más grande */
        gap: 2rem; /* Espaciado entre columnas */
        padding: 1rem;


        .hombre{
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columnas */
            gap: 1rem; /* Espaciado entre items */

            h2 {
                font-family: ink Free;
                font-size: 3rem;
                margin-bottom: 1rem;
                color: green   ;
            }

            .h {
                text-align: center;
                background-color: #fff;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    margin-bottom: 0.5rem;
                }

                h3 {
                    font-size: 1rem;
                    margin: 0.5rem 0;
                    font-family: ink Free;
                }
            }
        }     
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        width: 100%;
        box-sizing: border-box; /* Incluye padding en el ancho total */
        

        .inner-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            div {
                margin-right: 0.5em;
            }
        }
    }

    @media screen and (max-width: 768px) {

        footer{
            display: flex;
            flex-direction: column; /* Cambia a columna en pantallas pequeñas */
            padding: 2em 0; /* Espacio alrededor del footer */
            margin-bottom: 1em; /* Espacio en la parte inferior del footer */
            
        }
    
        header {
            nav {
                padding-left: 1rem; /* Espacio a la izquierda del menú de navegación */
                padding-top: 1rem; /* Espacio en la parte inferior del menú de navegación */
                text-align: center;
            }
        }
    
        .grid {
            display: grid;
            grid-template-columns: 1fr; /* Una sola columna que ocupa el 100% */
            gap: 1rem; /* Espaciado entre las filas */
            padding: 1rem;
    
            .reebok {
                display: grid;
                grid-template-columns: 1fr; /* Una sola columna */
                gap: 1rem; /* Espaciado entre filas y columnas */
    
                h2 {
                    text-align: center;
                    padding-top: 2em;
                }
            }
        }
    
        .reebok-men > div:first-child,
        .reebok-fem > div:first-child {
            display: none; /* Oculta el primer div */
        }
    
        .reebok-men,
        .reebok-fem {
            display: block; /* Cambia a diseño de bloque */
            width: 100%; /* Ocupa el 100% del ancho */
            padding: 0; /* Elimina el padding */
            margin: 0; /* Elimina márgenes */
    
            h2 {
                text-align: center;
                padding-top: 2em;
            }
        }
    
        .reebok-men > div,
        .reebok-fem > div {
            width: 100%; /* Asegura que los hijos también ocupen el 100% */
        }
    
        .reebok-men .hombre,
        .reebok-fem .mujer {
            display: grid;
            grid-template-columns: 1fr; /* Una sola columna */
            gap: 1rem; /* Espaciado entre filas */
            width: 100%; /* Asegura que el grid ocupe todo el ancho */
        }
    }

    @media only screen and (min-width: 768px) {

        footer{
            display: flex;
            flex-direction: column; /* Cambia a columna en pantallas pequeñas */
            padding: 2em 0; /* Espacio alrededor del footer */
            margin-bottom: 1em; /* Espacio en la parte inferior del footer */
            
        }
    
        header {
            nav {
                padding-left: 1rem; /* Espacio a la izquierda del menú de navegación */
                padding-top: 1rem; /* Espacio en la parte inferior del menú de navegación */
                text-align: center;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr; /* Una sola columna que ocupa el 100% */
            gap: 1rem; /* Espaciado entre las filas */
            padding: 1rem;
    
            .reebok {
                display: grid;
                grid-template-columns: 1fr; /* Una sola columna */
                gap: 1rem; /* Espaciado entre filas y columnas */
    
                h2 {
                    text-align: center;
                    padding-top: 2em;
                }
            }
        }
    
        .reebok-men > div:first-child,
        .reebok-fem > div:first-child {
            display: none; /* Oculta el primer div */
        }
    
        .reebok-men,
        .reebok-fem {
            display: block; /* Cambia a diseño de bloque */
            width: 100%; /* Ocupa el 100% del ancho */
            padding: 0; /* Elimina el padding */
            margin: 0; /* Elimina márgenes */
    
            h2 {
                text-align: center;
                padding-top: 2em;
            }
        }
    
        .reebok-men > div,
        .reebok-fem > div {
            width: 100%; /* Asegura que los hijos también ocupen el 100% */
        }
    
        .reebok-men .hombre,
        .reebok-fem .mujer {
            display: grid;
            grid-template-columns: 1fr; /* Una sola columna */
            gap: 1rem; /* Espaciado entre filas */
            width: 100%; /* Asegura que el grid ocupe todo el ancho */
        }
    }
